.customized-h-05[b-ept7c0ragc] {
  height: (1rem * .05) !important;
}

.customized-h-10[b-ept7c0ragc] {
  height: (1rem * .1) !important;
}

.customized-h-15[b-ept7c0ragc] {
  height: (1rem * .15) !important;
}

.customized-h-20[b-ept7c0ragc] {
  height: (1rem * .2) !important;
}

.customized-p-05[b-ept7c0ragc] {
  padding: (1rem * .05) !important;
}

.customized-p-10[b-ept7c0ragc] {
  padding: (1rem * .1) !important;
}

.customized-p-15[b-ept7c0ragc] {
  padding: (1rem * .15) !important;
}

.customized-p-20[b-ept7c0ragc] {
  padding: (1rem * .2) !important;
}

.customized-py-05[b-ept7c0ragc] {
  padding-top: (1rem * .05) !important;
  padding-bottom: (1rem * .05) !important;
}

.customized-py-10[b-ept7c0ragc] {
  padding-top: (1rem * .1) !important;
  padding-bottom: (1rem * .1) !important;
}

.customized-py-15[b-ept7c0ragc] {
  padding-top: (1rem * .15) !important;
  padding-bottom: (1rem * .15) !important;
}

.customized-py-20[b-ept7c0ragc] {
  padding-top: (1rem * .2) !important;
  padding-bottom: (1rem * .2) !important;
}

.customized-my-05[b-ept7c0ragc] {
  margin-top: (1rem * .05) !important;
  margin-bottom: (1rem * .05) !important;
}

.customized-my-10[b-ept7c0ragc] {
  margin-top: (1rem * .1) !important;
  margin-bottom: (1rem * .1) !important;
}

.customized-my-15[b-ept7c0ragc] {
  margin-top: (1rem * .15) !important;
  margin-bottom: (1rem * .15) !important;
}

.customized-my-20[b-ept7c0ragc] {
  margin-top: (1rem * .2) !important;
  margin-bottom: (1rem * .2) !important;
}