.suggestion-container[b-2lkjzqp3bm] {
    position: relative;
}

.tagsinput[b-2lkjzqp3bm],
.tagsinput *[b-2lkjzqp3bm] {
    box-sizing: border-box
}

.tagsinput[b-2lkjzqp3bm] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #556270;
    padding: 5px 5px 5px 5px;
    border: 1px solid #e6e6e6;
    border-radius: 2px
}

.tagsinput.focus[b-2lkjzqp3bm] {
    border-color: #ccc
}

.tagsinput .tag[b-2lkjzqp3bm] {
    position: relative;
    background: #556270;
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
    padding: 5px 30px 5px 5px;
    border-radius: 2px;
    margin: 0 5px 0 0
}

.tagsinput .tag .tag-remove[b-2lkjzqp3bm] {
    position: absolute;
    background: 0 0;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #ff6b6b;
    line-height: 30px;
    padding: 0;
    border: 0
}

.tagsinput .tag .tag-remove[b-2lkjzqp3bm]:after,
.tagsinput .tag .tag-remove[b-2lkjzqp3bm]:before {
    background: #ffffff;
    position: absolute;
    display: block;
    width: 10px;
    height: 2px;
    top: 14px;
    left: 10px;
    content: ''
}

.tagsinput .tag .tag-remove[b-2lkjzqp3bm]:before {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.tagsinput .tag .tag-remove[b-2lkjzqp3bm]:after {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg)
}

.tagsinput div[b-2lkjzqp3bm] {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.tagsinput div input[b-2lkjzqp3bm] {
    background: 0 0;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    border: 0;
    margin: 0 5px 5px 0
}

.tagsinput div input:focus[b-2lkjzqp3bm] {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.tagsinput div input.error[b-2lkjzqp3bm] {
    color: #ff6b6b
}

.tagsinput div input[b-2lkjzqp3bm]::-ms-clear {
    display: none
}

.tagsinput div input[b-2lkjzqp3bm]::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input:-moz-placeholder[b-2lkjzqp3bm] {
    color: #ccc;
    opacity: 1
}

.tagsinput div input[b-2lkjzqp3bm]::-moz-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input:-ms-input-placeholder[b-2lkjzqp3bm] {
    color: #ccc;
    opacity: 1
}

.btn-cust:focus[b-2lkjzqp3bm] {
    outline: none;
    box-shadow: none;
}

#toolbar-container .ql-font-roboto span[data-label="Roboto"][b-2lkjzqp3bm]::before {
    font-family: "Roboto";
}

#toolbar-container .ql-font-open-sans span[data-label="Open Sans"][b-2lkjzqp3bm]::before {
    font-family: "Open Sans";
}

#toolbar-container .ql-font-lato span[data-label="Lato"][b-2lkjzqp3bm]::before {
    font-family: "Lato";
}

#toolbar-container .ql-font-montserrat span[data-label="Montserrat"][b-2lkjzqp3bm]::before {
    font-family: "Montserrat";
}

#toolbar-container .ql-font-roboto-condensed span[data-label="Roboto Condensed"][b-2lkjzqp3bm]::before {
    font-family: "Roboto Condensed";
}

#toolbar-container .ql-font-oswald span[data-label="Oswald"][b-2lkjzqp3bm]::before {
    font-family: "Oswald";
}

#toolbar-container .ql-font-poppins span[data-label="Poppins"][b-2lkjzqp3bm]::before {
    font-family: "Poppins";
}

#toolbar-container .ql-font-slabo-27px span[data-label="Slabo 27px"][b-2lkjzqp3bm]::before {
    font-family: "Slabo 27px";
}

#toolbar-container .ql-font-noto-sans span[data-label="Noto Sans"][b-2lkjzqp3bm]::before {
    font-family: "Noto Sans";
}

#toolbar-container .ql-font-roboto-mono span[data-label="Roboto Mono"][b-2lkjzqp3bm]::before {
    font-family: "Roboto Mono";
}

#toolbar-container .ql-font-merriweather span[data-label="Merriweather"][b-2lkjzqp3bm]::before {
    font-family: "Merriweather";
}

.ql-font-roboto[b-2lkjzqp3bm] {
    font-family: 'Roboto', sans-serif;
}

.ql-font-open-sans[b-2lkjzqp3bm] {
    font-family: 'Open Sans', sans-serif;
}

.ql-font-lato[b-2lkjzqp3bm] {
    font-family: 'Lato', sans-serif;
}

.ql-font-montserrat[b-2lkjzqp3bm] {
    font-family: 'Montserrat', sans-serif;
}

.ql-font-roboto-condensed[b-2lkjzqp3bm] {
    font-family: 'Roboto Condensed', sans-serif;
}

.ql-font-oswald[b-2lkjzqp3bm] {
    font-family: 'Oswald', sans-serif;
}

.ql-font-poppins[b-2lkjzqp3bm] {
    font-family: 'Poppins', sans-serif;
}

.ql-font-slabo-27px[b-2lkjzqp3bm] {
    font-family: 'Slabo 27px', serif;
}

.ql-font-noto-sans[b-2lkjzqp3bm] {
    font-family: 'Noto Sans', sans-serif;
}

.ql-font-roboto-mono[b-2lkjzqp3bm] {
    font-family: 'Roboto Mono', monospace;
}

.ql-font-merriweather[b-2lkjzqp3bm] {
    font-family: 'Merriweather', serif;
}

.cursor-not-allowed-cust[b-2lkjzqp3bm] {
    cursor: not-allowed !important;
}