.suggestion-container {
    position: relative;
}

.tagsinput,
.tagsinput * {
    box-sizing: border-box
}

.tagsinput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #556270;
    padding: 5px 5px 5px 5px;
    border: 1px solid #e6e6e6;
    border-radius: 2px
}

.tagsinput.focus {
    border-color: #ccc
}

.tagsinput .tag {
    position: relative;
    background: #556270;
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
    padding: 5px 30px 5px 5px;
    border-radius: 2px;
    margin: 0 5px 0 0
}

.tagsinput .tag .tag-remove {
    position: absolute;
    background: 0 0;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #ff6b6b;
    line-height: 30px;
    padding: 0;
    border: 0
}

.tagsinput .tag .tag-remove:after,
.tagsinput .tag .tag-remove:before {
    background: #ffffff;
    position: absolute;
    display: block;
    width: 10px;
    height: 2px;
    top: 14px;
    left: 10px;
    content: ''
}

.tagsinput .tag .tag-remove:before {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.tagsinput .tag .tag-remove:after {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg)
}

.tagsinput div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.tagsinput div input {
    background: 0 0;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    border: 0;
    margin: 0 5px 5px 0
}

.tagsinput div input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.tagsinput div input.error {
    color: #ff6b6b
}

.tagsinput div input::-ms-clear {
    display: none
}

.tagsinput div input::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input:-moz-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input::-moz-placeholder {
    color: #ccc;
    opacity: 1
}

.tagsinput div input:-ms-input-placeholder {
    color: #ccc;
    opacity: 1
}

.btn-cust:focus {
    outline: none;
    box-shadow: none;
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Open Sans"]::before {
    font-family: "Open Sans";
}

#toolbar-container .ql-font span[data-label="Lato"]::before {
    font-family: "Lato";
}

#toolbar-container .ql-font span[data-label="Montserrat"]::before {
    font-family: "Montserrat";
}

#toolbar-container .ql-font span[data-label="Roboto Condensed"]::before {
    font-family: "Roboto Condensed";
}

#toolbar-container .ql-font span[data-label="Oswald"]::before {
    font-family: "Oswald";
}

#toolbar-container .ql-font span[data-label="Poppins"]::before {
    font-family: "Poppins";
}

#toolbar-container .ql-font span[data-label="Slabo 27px"]::before {
    font-family: "Slabo 27px";
}

#toolbar-container .ql-font span[data-label="Noto Sans"]::before {
    font-family: "Noto Sans";
}

#toolbar-container .ql-font span[data-label="Roboto Mono"]::before {
    font-family: "Roboto Mono";
}

#toolbar-container .ql-font span[data-label="Merriweather"]::before {
    font-family: "Merriweather";
}

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}

.ql-font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.ql-font-lato {
    font-family: 'Lato', sans-serif;
}

.ql-font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.ql-font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.ql-font-oswald {
    font-family: 'Oswald', sans-serif;
}

.ql-font-poppins {
    font-family: 'Poppins', sans-serif;
}

.ql-font-slabo-27px {
    font-family: 'Slabo 27px', serif;
}

.ql-font-noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.ql-font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.ql-font-merriweather {
    font-family: 'Merriweather', serif;
}

.cursor-not-allowed-cust {
    cursor: not-allowed !important;
}